<section id="agronomy-section" class="mt-3">
    <div class="container px-0">
        <div class="row mx-0">
            <div class="col-12 px-0">
                <div class="panel-group sidebar-checkbox-group" id="agronomy-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="production-advice">
                            <h4 class="panel-title">
                                <a class="" role="button" data-toggle="collapse" data-parent="#agronomy-accordion" href="#production-advice-collapse" aria-expanded="false" aria-controls="production-advice-collapse">
                                    Production Advice <span class="badge badge-success section-badge">New</span>
                                </a>
                            </h4>
                        </div>
                        <div id="production-advice-collapse" class="panel-collapse collapse show mb-2" role="tabpanel" aria-labelledby="production-advice">
                                <button class="btn btn-sm btn-secondary modal-click agronomy production mb-2 w-100" data-toggle="modal" data-target="#requestAccessModal" data-backdrop="static" data-keyboard="false">
                                    Request Access to Data
                                </button>
                            <div class="panel-body">
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i>
                                                Agro Warehouses
                                                <span class="badge badge-success section-badge">New</span>
                                                {{!-- <a href="#">
                                                    <i class="fas fa-cloud-download-alt mx-2"></i>
                                                </a> --}}
                                                <a href="#"  data-toggle="modal" data-target="#agroWarehousesMetadataModal" data-backdrop="static" data-keyboard="false">
                                                    <i class="fas fa-info-circle mx-2"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input class="checkbox pull-right bdgWFSLayer" type="checkbox" name="agroWarehouses" id="agroWarehouses" value="agroWarehouses">
                                            <span class="checkbox-custom ml-3 mt-2"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0">
                                                <i class="fas fa-tractor"></i>
                                                Farms 
                                                <span class="badge badge-success section-badge">New</span>
                                                <a href="#"  data-toggle="modal" data-target="#farmsMetadataModal" data-backdrop="static" data-keyboard="false">
                                                    <i class="fas fa-info-circle mx-2"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input class="checkbox pull-right bdgWFSLayer" type="checkbox" name="farms" id="farms" value="farms">
                                            <span class="checkbox-custom ml-3 mt-2"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i> Agric Mechanization</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agricMechanization" id="agricMechanization" value="agricMechanization">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i> Tractors</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="tractors" id="tractors" value="tractors">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i> Fertilizer Recommendations</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="fertilizerRecommendations" id="fertilizerRecommendations" value="fertilizerRecommendations">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i> Intercropping</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="intercropping" id="intercropping" value="intercropping">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i> Relay Cropping</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="relayCropping" id="relayCropping" value="relayCropping">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i> Rotations</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="rotations" id="rotations" value="rotations">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i> Practice Recommendations</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="practiceRecommendations" id="practiceRecommendations" value="practiceRecommendations">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i> Crop Calendars</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="cropCalendars" id="cropCalendars" value="cropCalendars">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i> Data on Cultivation</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="dataOnCultivation" id="dataOnCultivation" value="dataOnCultivation">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-tractor"></i> Land Races and Farmer Varieties</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="landRacesAndFarmerVarities" id="landRacesAndFarmerVarities" value="landRacesAndFarmerVarities">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="pest-disease-management">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#agronomy-accordion" href="#pest-disease-management-collapse" aria-expanded="false" aria-controls="pest-disease-management-collapse">
                                    Pest & Disease Management
                                </a>
                            </h4>
                        </div>
                        <div id="pest-disease-management-collapse" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="pest-disease-management">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bug"></i> Occurences of Pest & Diseases</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="occurencesOfPestAndDiseases" id="occurencesOfPestAndDiseases" value="occurencesOfPestAndDiseases">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bug"></i> Treatment Recommendations</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="treatmentRecommendations" id="treatmentRecommendations" value="treatmentRecommendations">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bug"></i> Recommended Pesticides</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="recommendedPesticides" id="recommendedPesticides" value="recommendedPesticides">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bug"></i> Agro Chemical Shops</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agroChemicalShops" id="agroChemicalShops" value="agroChemicalShops">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>