<div class="modal fade" id="airtable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <iframe class="airtable-embed" style="background: transparent; border: 1px solid #ccc;" src="https://airtable.com/embed/shrEopYb0aQbD0bOe?backgroundColor=green&amp;viewControls=on" width="100%" height="530px" frameborder="0" allow="fullscreen"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>