<section id="boundary-section" class="mt-3">
    <div class="container px-0">
        <div class="row mx-0">
            <div class="col-12 px-0">
                <div class="panel-group sidebar-checkbox-group" id="boundaries-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="boundaries">
                            <h4 class="panel-title">
                                <a class="" role="button" data-toggle="collapse" data-parent="#boundaries-accordion" href="#boundaries-collapse" aria-expanded="false" aria-controls="boundaries-collapse">
                                    Select Boundaries
                                </a>
                            </h4>
                        </div>
                        <div id="boundaries-collapse" class="panel-collapse show collapse mb-2" role="tabpanel" aria-labelledby="boundaries">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-map-signs"></i> Regional Boundaries</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input class="checkbox pull-right" type="checkbox" name="regionalBoundary" id="regionalBoundary" value="regionalBoundary">
                                            <span class="checkbox-custom pull-right ml-3 mt-2"></span>
                                        </div>
                                    </div>
                                </label>

                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-map-signs"></i> District Boundaries</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input class="checkbox pull-right" type="checkbox" name="districtBoundary" id="districtBoundary" value="districtBoundary">
                                            <span class="checkbox-custom pull-right ml-3 mt-2"></span>
                                        </div>
                                    </div>
                                </label>

                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-map-signs"></i> Constituency Boundaries</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input class="checkbox pull-right" type="checkbox" name="constituencyBoundary" id="constituencyBoundary" value="constituencyBoundary">
                                            <span class="checkbox-custom pull-right ml-3 mt-2"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>