<div id="sendMessageFormContainer" class="">
    <form id="sendMessageForm" method="post" action="/form/sendmessage" class="">
        <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" class="form-control" id="contactName" name="contactName" aria-describedby="nameHelp" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" name="contactEmail" id="contactEmail" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea name="contactMessage" id="contactMessage" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <input type="submit" class="btn dark-green-btn mx-auto btn-block" value="Send Message">
    </form>
</div>

<!--Suggest a database form-->
<div id="suggestDatasetFormContainer" class="">
    <form id="suggestDatasetForm" method="post" action="/form/senddataset" class="">
        <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" class="form-control" name="suggestName" id="suggestName" aria-describedby="nameHelp" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" name="suggestEmail" id="suggestEmail" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Dataset</label>
            <input type="text" class="form-control" name="suggestDataset" id="suggestDataset" aria-describedby="nameHelp" required>
        </div>
        <div class="form-group">
            <label for="message">Purpose</label>
            <textarea name="suggestPurpose" id="suggestPurpose" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn dark-green-btn mx-auto btn-block">Submit Suggestion</button>
    </form>
</div>

<script>
    // window.location.href.indexOf("/open-data") > -1
    var urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has('success') && urlParams.get('success')){
        console.log("URL Params");
        swal({
            title: "Success",
            text: "Email Sent Successfully",
            icon: "success",
            button: "Okay",
        }).then(()=>{
            console.log(window.location.hostname)
            window.location.replace(window.location.origin + '/contact');
        })
    }
    if(urlParams.has('error') && urlParams.get('error')) {
        swal({
            title: "Error",
            text: "Email was not sent. Please try again.",
            icon: "error",
            button: "Okay",
        }).then(()=>{
            console.log(window.location.hostname)
            window.location.replace(window.location.origin + '/contact');
        })
    }
</script>