<div class="accordion mt-2" id="faqsAccordion">
    <div class="card">
        <div class="card-header" id="headingOne" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <p class="mb-0">
                What is GAIMS?
                <i class="fas fa-chevron-down float-right"></i>
            </p>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqsAccordion">
            <div class="card-body">
                GAIMS is a platform built with
                the purpose to truly open up agriculture data and statistics for improved analysis and
                decision making in support of the country’s effort to meet global goal SDG2 .
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <p class="mb-0">
                How can I access data?
                <i class="fas fa-chevron-down float-right"></i>
            </p>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqsAccordion">
            <div class="card-body">
                There are categories of data upload and displayed on the 'Data' page of the GAIMS Website.
                It contains data collected and published for public consumption.
                <br><a href="/open-data">Click here to see data</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <p class="mb-0">
                What does it cost?
                <i class="fas fa-chevron-down float-right"></i>
            </p>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqsAccordion">
            <div class="card-body">
                GAIMS offers data for free. All data shown on the 'Data' page on the GAIMS Website is free and requires no payment.
                <br><a href="/open-data">Click here to see data</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour" role="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <p class="mb-0">
                What am I allowed to use the data for?
                <i class="fas fa-chevron-down float-right"></i>
            </p>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqsAccordion">
            <div class="card-body">
                Data published on GAIMS is available to use for embedding in websites, research publications and other forms of literature
                by individuals and institutions.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive" role="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <p class="mb-0">
                How can I contribute to the platform?
                <i class="fas fa-chevron-down float-right"></i>
            </p>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqsAccordion">
            <div class="card-body">
                To contribute to the platform, send BigData Ghana Ltd. a mail at <u>info@bigdataghana.com</u> or
                simply fill the 'Send us a message' contact form on the 'Contact' page.
                <br><a href="/contact">Click here to fill form</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix" role="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <p class="mb-0">
                What do I do if I don't find the data I want?
                <i class="fas fa-chevron-down float-right"></i>
            </p>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqsAccordion">
            <div class="card-body">
                If you do not find the data you are looking for, contact BigData Ghana Ltd. at <u>info@bigdataghana.com</u> for assistance
                or fill the 'Suggest Dataset' form on the 'Contact' page of the GAIMS Website.
                <br><a href="/contact">Click here to suggest dataset</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSeven" role="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <p class="mb-0">
                Can I engage the platform to pursue data for me?
                <i class="fas fa-chevron-down float-right"></i>
            </p>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqsAccordion">
            <div class="card-body">
                Yes! Contact BigData Ghana Ltd. for more information.
                <br><a href="/contact">Click here to send message to BigData Ghana Ltd</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEight" role="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <p class="mb-0">
                What data formats are available?
                <i class="fas fa-chevron-down float-right"></i>
            </p>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqsAccordion">
            <div class="card-body">
                Data is published in CSV, PNG, JPEG, PDF and XSLX formats.
            </div>
        </div>
    </div>
</div>