<footer id="footer" class="row w-100 py-4 mx-0 my-0">
<!--    <div class="row w-100">-->
        <div class="container my-auto">
            <div class="row">
                <div id="usefulLinks" class="col-sm-12 col-md-4 col-lg-4">
                    <h6>Useful Links</h6>
                    <ul class="pl-0">
                        <li>
                            <a href="www.bigdataghana.com">BigData Ghana Ltd</a>
                        </li>
                        <li>
                            <a href="www.godan.info">GODAN</a>
                        </li>
                        <li>
                            <a href="www.opendatacommons.org">ODbL</a>
                        </li>
                        <li>
                            <a href="www.mofa.gov.gh">Ministry of Food and Agriculture</a>
                        </li>
                        <li>
                            <a href="www.data.gov.gh">Ghana Open Data Initiative</a>
                        </li>
                    </ul>
                </div>
                <div id="footerContact" class="col-sm-12 col-md-12 col-lg-4 text-center">
                    <h6>Contact</h6>
                    <ul class="pl-0">
                        <li>+233 54 388 4816</li>
                        <li>info@bigdataghana.com</li>
                        <li>P.O.Box AN 10614, Accra - Ghana</li>
                        <li>
                            No. 3 Blewusi Street,<br>
                            Airport Residential Area, Accra<br>
                            Ghana Post Address: GA-117-2050
                        </li>
                    </ul>
                </div>
                <div id="gaimsLinks" class="col-sm-12 col-md-4 col-lg-4 text-right">
                    <h6>GAIMS</h6>
                    <ul class="pl-0">
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/register">Register</a>
                        </li>
                        <li>
                            <a href="/contact">Send Us A Message</a>
                        </li>
                        <li>
                            <a href="/contact#faqs">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <hr id="footerhr">
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <h6 class="text-center my-0">&copy; 2020 BigData Ghana Ltd | All Rights Reserved</h6>
                </div>
            </div>
        </div>
<!--    </div>-->
</footer>