<div class="legend py-2 px-3">
    <h5 class="mb-2 ml-2">Map Key</h5>
    <div class=' regionalBoundaryLegend d-flex my-1 legend-label hide-legend'>
        <p class='mb-0 mr-4 ml-2 legend-boundary-markers' style='background-color: #2a2a2a;'></p>
        <p class='ml-2'>Regional Boundaries</p>
    </div>
    <div class='districtBoundaryLegend d-flex my-1 legend-label hide-legend'>
        <p class='mb-0 mr-4 ml-2 legend-boundary-markers' style='background-color: #006400;'></p>
        <p class='ml-2'>District Boundaries</p>
    </div>
    <div class='constituencyBoundaryLegend d-flex my-1 legend-label hide-legend'>
        <p class='mb-0 mr-4 ml-2 legend-boundary-markers' style='background-color: #800000;'></p>
        <p class='ml-2'>Constituency Boundaries</p>
    </div>
<!--    <div id='ndviLegend' class='d-flex my-1 legend-label hide-legend'>-->
<!--        <p class='mb-0 mr-4 ml-2 legend-color-markers' style='background-color: saddlebrown;'></p>-->
<!--        <p class='ml-2'>NDVI</p>-->
<!--    </div>-->
    <div class='maizeFarmLegend d-flex my-1 legend-label hide-legend'>
        <p class='mb-0 mr-4 ml-2 legend-color-markers' style='background-color: #e74c3c;'></p>
        <p class='ml-2'>Maize Farms</p>
    </div>
    <div class='cashewFarmLegend d-flex my-1 legend-label hide-legend'>
        <p class='mb-0 mr-4 ml-2 legend-color-markers' style='background-color: #2980b9;'></p>
        <p class='ml-2'>Cashew Farms</p>
    </div>
    <div class='riceFarmLegend d-flex my-1 legend-label hide-legend'>
        <p class='mb-0 ml-2 mr-4 legend-color-markers' style='background-color: #008000;'></p>
        <p class='ml-2'>Rice Farms</p>
    </div>
    <div class='soyaBeanFarmLegend d-flex my-1 legend-label hide-legend'>
        <p class='mb-0 ml-2 mr-4 legend-color-markers' style='background-color: #a51cb3;'></p>
        <p class='ml-2'>Soya Bean Farms</p>
    </div>
    <div class='otherCropFarmLegend d-flex my-1 legend-label hide-legend'>
        <p class='mb-0 ml-2 mr-4 legend-color-markers' style='background-color: #000080;'></p>
        <p class='ml-2'>Other Crop Farms</p>
    </div>
    <div class='agroWarehousesLegend d-flex my-1 legend-label hide-legend'>
        <img src='../img/agrowarehouses-marker.png' class="legend-img-markers mb-0 mr-2">
        <p class='ml-2'>Agro Warehouses</p>
    </div>
    <div class='annualGeometricMedianNDVI my-1 legend-label hide-legend'>
        {{!-- <img src='https://ows.digitalearth.africa/legend/ga_ls8c_gm_2_annual/ndvi/legend.png' class="w-100 mb-0 mr-0"> --}}
        <img src='https://ows.digitalearth.africa/legend/ls8_usgs_sr_scene/ndvi/legend.png' class="w-100 mb-0 mr-0">
    </div>
    <div class='digitalElevationModelColors my-1 legend-label hide-legend'>
        <img src='https://ows.digitalearth.africa/legend/srtm/colours/legend.png' class="w-100 mb-0 mr-0">
    </div>
    <div class='digitalElevationModelGreyscale my-1 legend-label hide-legend'>
        <img src='https://ows.digitalearth.africa/legend/srtm/greyscale/legend.png' class="w-100 mb-0 mr-0">
    </div>
</div>