<div id="sidebar" class="leaflet-sidebar mt-2 mb-2" style="height: 96.5%;">
    <!-- Nav tabs -->
    <div class="leaflet-sidebar-tabs">
        <ul role="tablist"> <!-- top aligned tabs -->
            <li class="mt-0 active"><a href="#basemaps" role="tab"><i class="fas fa-map"></i></a></li>
            <li><a href="#agric" role="tab"><i class="fas fa-tractor"></i><span class="badge badge-success sidebar-badge"> </span></a></li>
            <li class=""><a href="#government" role="tab"><i class="fas fa-gavel"></i></a></li>
            <li><a href="#socio-econ" role="tab"><i class="fas fa-money-bill-alt"></i></a></li>
            <li><a href="#nature" role="tab"><i class="fas fa-leaf"></i><span class="badge badge-success sidebar-badge"> </span></a></li>
            <li class="sidebar-legend-toggle"><a href="#mapKey" role="tab"><i class="fas fa-key"></i></a></li>
        </ul>

<!--        <ul role="tablist"> &lt;!&ndash; bottom aligned tabs &ndash;&gt;-->
<!--            <li class="mb-0"><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>-->
<!--        </ul>-->
    </div>

    <!-- Tab panes -->
    <div class="leaflet-sidebar-content">
        <div class="leaflet-sidebar-pane active" id="basemaps">
            <h1 class="leaflet-sidebar-header">
                Basemaps & Boundaries
                <div class="leaflet-sidebar-close">
                    <i class="fa fa-caret-left"></i>
                </div>
            </h1>
            <h5 class="mt-5 px-3 text-center">Select Basemap</h5>
            <div class="row mx-0 my-3">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="d-flex justify-content-center">
                        <img id="street-basemap-toggle" class="basemap-images-active mx-auto" src="/img/Basemap-Street.jpg" alt=""><br>
                    </div>
                    <div class="d-flex justify-content-center my-2">
                        <p class="mx-auto">Street</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="d-flex justify-content-center">
                        <img id="satellite-basemap-toggle" class="basemap-images mx-auto" src="/img/Basemap-Satellite.jpg" alt=""><br>
                    </div>
                    <div class="d-flex justify-content-center my-2">
                        <p>Satellite</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <img id="osm-basemap-toggle" class="basemap-images mx-auto" src="/img/Basemap-OpenStreetMap.jpg" alt=""><br>
                    </div>
                    <div class="d-flex justify-content-center my-2">
                        <p>OpenStreet Maps</p>
                    </div>
                </div>
            </div>
            {{> _boundary-layers }}
        </div>

        <div class="leaflet-sidebar-pane" id="agric">
            <h1 class="leaflet-sidebar-header">
                Agronomy & Agric Technology
                <a class="airtable-toggle" href="#" data-toggle="modal" data-target="#airtable">
                    <i class="fas fa-info-circle"></i>
                </a>
                <div class="leaflet-sidebar-close">
                    <i class="fa fa-caret-left"></i>
                </div>
            </h1>
            {{> _agronomy-layers }}
        </div>

        <div class="leaflet-sidebar-pane" id="government">
            <h1 class="leaflet-sidebar-header">
                Policy & Administration
                <a class="airtable-toggle" href="#" data-toggle="modal" data-target="#airtable">
                    <i class="fas fa-info-circle"></i>
                </a>
                <div class="leaflet-sidebar-close">
                    <i class="fa fa-caret-left"></i>
                </div>
            </h1>

            {{> _policy-admin-layers }}
        </div>

        <div class="leaflet-sidebar-pane" id="socio-econ">
            <h1 class="leaflet-sidebar-header">
                Socio-Economic
                <a class="airtable-toggle" href="#" data-toggle="modal" data-target="#airtable">
                    <i class="fas fa-info-circle"></i>
                </a>
                <div class="leaflet-sidebar-close">
                    <i class="fa fa-caret-left"></i>
                </div>
            </h1>

            {{> _socio-economic }}
        </div>

        <div class="leaflet-sidebar-pane" id="nature">
            <h1 class="leaflet-sidebar-header">
                Natural Resources & Environment
                <a class="airtable-toggle" href="#" data-toggle="modal" data-target="#airtable">
                    <i class="fas fa-info-circle"></i>
                </a>
                <div class="leaflet-sidebar-close">
                    <i class="fa fa-caret-left"></i>
                </div>
            </h1>

            {{> _natural-resources }}
        </div>

        <div class="leaflet-sidebar-pane" id="mapKey">
            <h1 class="leaflet-sidebar-header">
                Map Key
                <a class="airtable-toggle" href="#" data-toggle="modal" data-target="#airtable">
                    <i class="fas fa-info-circle"></i>
                </a>
                <div class="leaflet-sidebar-close">
                    <i class="fa fa-caret-left"></i>
                </div>
            </h1>
            <div class="sidebar-legend my-3">
                {{> _legend }}
            </div>
        </div>
    </div>
</div>