{{!-- AgroWarehouse --}}
<div class="modal fade" id="agroWarehousesMetadataModal" tabindex="-1" role="dialog" aria-labelledby="agroWarehousesMetadataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agroWarehousesMetadataModalLabel">AgroWarehouses Metadata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>tbl_agro_warehouses</td>
                        </tr>
                        <tr>
                            <td>WMS Version</td>
                            <td>1.3.0</td>
                        </tr>
                        <tr>
                            <td>CRS</td>
                            <td>EPSG:4326 - WGS 84 - Geographic</td>
                        </tr>
                        <tr>
                            <td>Unit</td>
                            <td>Degrees</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

{{!-- Farms --}}
<div class="modal fade" id="farmsMetadataModal" tabindex="-1" role="dialog" aria-labelledby="farmsMetadataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="farmsMetadataModalLabel">Farms Metadata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>gaims_farms</td>
                        </tr>
                        <tr>
                            <td>WMS Version</td>
                            <td>1.3.0</td>
                        </tr>
                        <tr>
                            <td>CRS</td>
                            <td>EPSG:4326 - WGS 84 - Geographic</td>
                        </tr>
                        <tr>
                            <td>Unit</td>
                            <td>Degrees</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

{{!-- DEM Colored --}}
<div class="modal fade" id="demColoredMetadataModal" tabindex="-1" role="dialog" aria-labelledby="demColoredMetadataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="demColoredMetadataModalLabel">Digital Elevation Model (Colored) Metadata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr class="">
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td class="text-wrap">Name</td>
                            <td class="text-wrap" style="word-break: break-all;">srtm</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Title</td>
                            <td class="text-wrap" style="word-break: break-all;">Shuttle Radar Topography Mission Digital Elevation Model</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Style</td>
                            <td class="text-wrap" style="word-break: break-all;">colours</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">WMS Version</td>
                            <td class="text-wrap" style="word-break: break-all;">1.3.0</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Abstract</td>
                            <td class="text-wrap text-justify" style="word-break: break-word;">
                                <p>A Digital Elevation Model (DEM) is a digital representation of Earth’s topography. 
                                It helps to understand the land surface characteristics in the height dimension. 
                                It is also used as an ancillary dataset to calculate illumination and viewing geometry of a satellite imagery. </p>
                                <p>DE Africa provides access to the Shuttle Radar Topography Mission (SRTM) v 3.0 (SRTMGL1) product. 
                                This elevation model has a spatial resolution of 30 m and is derived from data collected by NASA's Shuttle Radar Topography Mission in 2000. 
                                It is provided by NASA's Land Processes Distributed Active Archive Center (LP DAAC). </p>
                                <p>For more information, see https://lpdaac.usgs.gov/products/srtmgl1v003/ 
                                This product is accessible through OGC Web Service (https://ows.digitalearth.africa/), f
                                or analysis in DE Africa Sandbox JupyterLab (https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/wiki) and 
                                for direct download from AWS S3 (https://data.digitalearth.africa/).</p>
                            </td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">CRS</td>
                            <td class="text-wrap" style="word-break: break-all;">EPSG:4326 - WGS 84 - Geographic</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Unit</td>
                            <td class="text-wrap" style="word-break: break-all;">Degrees</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Legend URL</td>
                            <td class="text-wrap" style="word-break: break-all;"><a href="https://ows.digitalearth.africa/legend/srtm/colours/legend.png">https://ows.digitalearth.africa/legend/srtm/colours/legend.png</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
{{!-- DEM Greyscale --}}
<div class="modal fade" id="demGreyscaleMetadataModal" tabindex="-1" role="dialog" aria-labelledby="demGreyscaleMetadataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="demGreyscaleMetadataModalLabel">Digital Elevation Model (Greyscale) Metadata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr class="">
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td class="text-wrap">Name</td>
                            <td class="text-wrap" style="word-break: break-all;">srtm</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Title</td>
                            <td class="text-wrap" style="word-break: break-all;">Shuttle Radar Topography Mission Digital Elevation Model</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Style</td>
                            <td class="text-wrap" style="word-break: break-all;">greyscale</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">WMS Version</td>
                            <td class="text-wrap" style="word-break: break-all;">1.3.0</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Abstract</td>
                            <td class="text-wrap text-justify" style="word-break: break-word;">
                                <p>Digital Elevation Model (DEM) is a digital representation of Earth’s topography. 
                                It helps to understand the land surface characteristics in the height dimension. 
                                It is also used as an ancillary dataset to calculate illumination and viewing geometry of a satellite imagery. </p> 
                                <p>DE Africa provides access to the Shuttle Radar Topography Mission (SRTM) v 3.0 (SRTMGL1) product. 
                                This elevation model has a spatial resolution of 30 m and is derived from data collected by NASA's Shuttle Radar Topography Mission in 2000. 
                                It is provided by NASA's Land Processes Distributed Active Archive Center (LP DAAC). </p>
                                <p>For more information, see https://lpdaac.usgs.gov/products/srtmgl1v003/ 
                                This product is accessible through OGC Web Service (https://ows.digitalearth.africa/), f
                                or analysis in DE Africa Sandbox JupyterLab (https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/wiki) and 
                                for direct download from AWS S3 (https://data.digitalearth.africa/).</p>
                            </td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">CRS</td>
                            <td class="text-wrap" style="word-break: break-all;">EPSG:4326 - WGS 84 - Geographic</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Unit</td>
                            <td class="text-wrap" style="word-break: break-all;">Degrees</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Legend URL</td>
                            <td class="text-wrap" style="word-break: break-all;"><a href="https://ows.digitalearth.africa/legend/srtm/greyscale/legend.png">https://ows.digitalearth.africa/legend/srtm/greyscale/legend.png</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

{{!-- NDVI --}}
<div class="modal fade" id="ndviMetadataModal" tabindex="-1" role="dialog" aria-labelledby="ndviMetadataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ndviMetadataModalLabel">NDVI Metadata</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr class="">
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td class="text-wrap">Name</td>
                            <td class="text-wrap" style="word-break: break-all;">ga_s2_gm</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Title</td>
                            <td class="text-wrap" style="word-wrap: break-word;">Surface Reflectance Annual Geomedian Sentinel-2 (Beta)</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Style</td>
                            <td class="text-wrap" style="word-break: break-all;">ndvi</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">WMS Version</td>
                            <td class="text-wrap" style="word-break: break-all;">1.3.0</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Abstract</td>
                            <td class="text-wrap text-justify" style="word-break: break-word;">
                                <p>Individual remote sensing images can be affected by noisy data, including clouds, cloud shadows, and haze. 
                                To produce cleaner images that can be compared more easily across time, we can create 'summary' images or 'composites' 
                                that combine multiple images into one image to reveal the median or 'typical' appearance of the landscape 
                                for a certain time period. One approach is to create a geomedian.</p>
                                <p>A geomedian is based on a high-dimensional statistic called the 'geometric median' (Small 1990), 
                                which effectively trades a temporal stack of poor-quality observations for a single high-quality pixel composite 
                                with reduced spatial noise (Roberts et al. 2017). In contrast to a standard median, a geomedian maintains 
                                the relationship between spectral bands.</p><p> This allows for conducting further analysis on the composite images 
                                just as we would on the original satellite images (e.g. by allowing the calculation of common band indices like NDVI). 
                                An annual median image is calculated from the surface reflectance values drawn from a calendar year. 
                                This product has a spatial resolution of 10 m and a temporal coverage of 2019. </p>
                                <p>It is derived from Surface Reflectance Sentinel-2 data. This product contains modified Copernicus Sentinel data 2019. 
                                Annual geomedian images enable easy visual and algorithmic interpretation, e.g. understanding urban expansion, at annual intervals. 
                                They are also useful for characterising permanent landscape features such as woody vegetation. </p>
                                <p>For more information on the algorithm, see https://doi.org/10.1109/TGRS.2017.2723896 
                                This product is accessible through OGC Web Service (https://ows.digitalearth.africa/), f
                                or analysis in DE Africa Sandbox JupyterLab (https://github.com/digitalearthafrica/deafrica-sandbox-notebooks/wiki) 
                                and for direct download from AWS S3 (https://data.digitalearth.africa/).</p>
                            </td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">CRS</td>
                            <td class="text-wrap" style="word-break: break-all;">EPSG:4326 - WGS 84 - Geographic</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Unit</td>
                            <td class="text-wrap" style="word-break: break-all;">Degrees</td>
                        </tr>
                        <tr class="">
                            <td class="text-wrap">Legend URL</td>
                            <td class="text-wrap" style="word-break: break-all;"><a href="https://ows.digitalearth.africa/legend/ga_s2_gm/ndvi/legend.png">https://ows.digitalearth.africa/legend/ga_s2_gm/ndvi/legend.png</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>