<section id="naturalResourcesSection" class="mt-3">
    <div class="container px-0">
        <div class="row mx-0">
            <div class="col-12 px-0">
                <div class="panel-group sidebar-checkbox-group" id="naturalResourcesAccordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="meteorologicalData">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#naturalResourcesAccordion" href="#meteorologicalDataCollapse" aria-expanded="false" aria-controls="meteorologicalDataCollapse">
                                    Meteorological Data
                                </a>
                            </h4>
                        </div>
                        <div id="meteorologicalDataCollapse" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="meteorologicalData">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-cloud-sun-rain"></i> Weather Stations</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="weatherStations" id="weatherStations" value="weatherStations">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-cloud-sun-rain"></i> Climate Change Predictions</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="climateChangePredictions" id="climateChangePredictions" value="climateChangePredictions">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-cloud-sun-rain"></i> Climate Zones</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="climateZones" id="climateZones" value="climateZones">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-cloud-sun-rain"></i> Observation Archives</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="observationArchives" id="observationArchives" value="observationArchives">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-cloud-sun-rain"></i> Real Time Observation</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="realTimeObservation" id="realTimeObservation" value="realTimeObservation">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-cloud-sun-rain"></i> Short Term Weather Forecast</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="shortTermWeatherForecast" id="shortTermWeatherForecast" value="shortTermWeatherForecast">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="elevationData">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#naturalResourcesAccordion" href="#elevationDataCollapse" aria-expanded="false" aria-controls="elevationDataCollapse">
                                    Elevation Data
                                    <span class="badge badge-success section-badge">New</span>
                                </a>
                            </h4>
                        </div>
                        <div id="elevationDataCollapse" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="elevationData">
                            <button class="btn btn-sm btn-secondary modal-click nature elevation w-100 mb-2" data-toggle="modal" data-target="#requestAccessModal" data-backdrop="static" data-keyboard="false">
                                Request Access to Data
                            </button>
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0">
                                                <i class="fas fa-bullseye"></i> 
                                                Digital Elevation Model (Colored) 
                                                <span class="badge badge-success section-badge">New</span>
                                                <a href="#"  data-toggle="modal" data-target="#demColoredMetadataModal" data-backdrop="static" data-keyboard="false">
                                                    <i class="fas fa-info-circle mx-2"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input class="checkbox pull-right digitalEarthWMSLayer" type="checkbox" name="digitalElevationModelColors" id="digitalElevationModelColors" value="digitalElevationModelColors">
                                            <span class="checkbox-custom pull-right ml-3 mt-2"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0">
                                                <i class="fas fa-bullseye"></i> 
                                                Digital Elevation Model (Greyscale) 
                                                <span class="badge badge-success section-badge">New</span>
                                                <a href="#"  data-toggle="modal" data-target="#demGreyscaleMetadataModal" data-backdrop="static" data-keyboard="false">
                                                    <i class="fas fa-info-circle mx-2"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input class="checkbox pull-right digitalEarthWMSLayer" type="checkbox" name="digitalElevationModelGreyscale" id="digitalElevationModelGreyscale" value="digitalElevationModelGreyscale">
                                            <span class="checkbox-custom pull-right ml-3 mt-2"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bullseye"></i> High Points</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="highPoints" id="highPoints" value="highPoints">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bullseye"></i> Slope Data</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="slopeData" id="slopeData" value="slopeData">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bullseye"></i> Aspect Data</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="aspectData" id="aspectData" value="aspectData">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="hydrologicalData">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#naturalResourcesAccordion" href="#hydrologicalDataCollapse" aria-expanded="false" aria-controls="hydrologicalDataCollapse">
                                    Hydrological Data
                                </a>
                            </h4>
                        </div>
                        <div id="hydrologicalDataCollapse" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="hydrologicalData">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-water"></i> Water Management</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="waterManagement" id="waterManagement" value="waterManagement">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-water"></i> Water Tables</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="waterTables" id="waterTables" value="waterTables">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-water"></i> Water Quality</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="waterQuality" id="waterQuality" value="waterQuality">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-water"></i> Real Time Water Levels</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="realTimeWaterLevels" id="realTimeWaterLevels" value="realTimeWaterLevels">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-water"></i> Historical Records on Flooding</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="historicalRecordsOnFlooding" id="historicalRecordsOnFlooding" value="historicalRecordsOnFlooding">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-water"></i> Flood Zones</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="floodZones" id="floodZones" value="floodZones">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-water"></i> Water Balance</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="waterBalance" id="waterBalance" value="waterBalance">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-water"></i> Location Of Water Sources</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="locationOfWaterSources" id="locationOfWaterSources" value="locationOfWaterSources">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="soilData">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#naturalResourcesAccordion" href="#soilDataCollapse" aria-expanded="false" aria-controls="soilDataCollapse">
                                    Soil Data
                                </a>
                            </h4>
                        </div>
                        <div id="soilDataCollapse" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="soilData">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-globe-africa"></i> Soil Classes</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="soilClasses" id="soilClasses" value="soilClasses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-globe-africa"></i> Soil Samples</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="soilSamples" id="soilSamples" value="soilSamples">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-globe-africa"></i> Soil Maps</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="soilMaps" id="soilMaps" value="soilMaps">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="vegetationData">
                            <h4 class="panel-title">
                                <a class="" role="button" data-toggle="collapse" data-parent="#naturalResourcesAccordion" href="#vegetationDataCollapse" aria-expanded="false" aria-controls="vegetationDataCollapse">
                                    Vegetation Data
                                    <span class="badge badge-success section-badge">New</span>
                                </a>
                            </h4>
                        </div>
                        <div id="vegetationDataCollapse" class="panel-collapse collapse show mb-2" role="tabpanel" aria-labelledby="vegetationData">
                            <button class="btn btn-sm btn-secondary modal-click nature vegetation w-100 mb-2" data-toggle="modal" data-target="#requestAccessModal" data-backdrop="static" data-keyboard="false">
                                Request Access to Data
                            </button>
                            <div class="panel-body">
                                <label class="checkbox-label w-100 m-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left">
                                                <i class="fas fa-leaf"></i> 
                                                Normalised Difference Vegetation Index(NDVI) 
                                                <span class="badge badge-success section-badge">New</span>
                                                <a href="#"  data-toggle="modal" data-target="#ndviMetadataModal" data-backdrop="static" data-keyboard="false">
                                                    <i class="fas fa-info-circle mx-2"></i>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                                <input class="checkbox pull-right digitalEarthWMSLayer" type="checkbox" name="annualGeometricMedianNDVI" id="annualGeometricMedianNDVI" value="annualGeometricMedianNDVI">
                                                <span class="checkbox-custom pull-right ml-3 mt-2"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>