<nav id="navbar" class="navbar navbar-expand-md fixed-top py-1 navbar-box-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img id="logo" class="logo" src="/img/GAIMS-Logo-Green.png" alt="GAIMS Logo">
        </a>
        <button id="navbarToggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <div id="navContainer2" class="navbar-nav ml-auto">
                <a id="homenav" class="nav-item nav-link active-nav mx-2" href="/"><i class="fas fa-home"></i> Home</a>
                <a id="opendatanav" class="nav-item nav-link mx-2" href="/open-data"><i class="fas fa-database"></i> Data<span class="badge badge-success menu-badge">New</span></a>
<!--                <a id="mapsnav" class="nav-item nav-link mx-2" href="/maps"><i class="fas fa-map-marker-alt"></i> Maps</a>-->
<!--                <a id="premiumnav" class="nav-item nav-link mx-2" href="/gaims-premium"><i class="fas fa-crown" style="color: #ffa500"></i> GAIMS Premium</a>-->
                <a id="eventsnav" class="nav-item nav-link mx-2" href="/events"><i class="far fa-calendar-check"></i> Events</a>
                <a id="newsnav" class="nav-item nav-link mx-2" href="/news"><i class="fas fa-newspaper"></i> News</a>
                <a id="contactnav" class="nav-item nav-link mx-2" href="/contact"><i class="fas fa-phone-alt"></i> Contact</a>
<!--                <a href="/users/login" class="btn transparent-btn mx-2"><i class="fas fa-sign-in-alt"></i> Login</a>-->
            </div>
        </div>
    </div>
</nav>