<div id="page1" class="w-100 news-pages">
    <div class="card w-100 border-0 my-4">
        <div class="card w-100 border-0 my-4">
            <div class="card-body pl-0">
                <small>IITA: News</small>
                <h5 class="card-title">CGIAR Centers join efforts to launch an Agronomy Research and Innovation initiative to support agricultural productivity growth in the global South</h5>
                <p class="text-muted">September 4, 2020 <br> BY IITA</p>
                <p class="card-text text-justify">
                    Nine CGIAR centers are coming together to set up an initiative that will help deliver agronomic solutions at scale to drive sustainable productivity growth under climate change for smallholder farmers.
                    The CGIAR centers, supported by the Big Data Platform, will launch the Excellence in Agronomy 2030 initiative during this year’s African Green Revolution Forum (AGRF) summit to be held virtually on 7 September 2020.
                </p>
                <a href="https://www.iita.org/news-item/cgiar-centers-join-efforts-to-launch-an-agronomy-research-and-innovation-initiative-to-support-agricultural-productivity-growth-in-the-global-south/" class="btn btn-primary">Read more...</a>
            </div>
        </div>
        <div class="card-body pl-0">
            <small>FAO: News</small>
            <h5 class="card-title">Global food prices rise in August</h5>
            <p class="text-muted">September 3, 2020 | Rome <br> BY FAO</p>
            <p class="card-text text-justify">
                International quotations for sugar, vegetable oils and coarse grains increased from July, while worldwide cereal harvests remain on course to hit annual record.
                3 September 2020, Rome - Global food prices rose for the third consecutive month in August, influenced by generally firmer demand and a weaker U.S. dollar, according to a report released today by the Food and Agriculture Organization of the United Nations.
                The FAO Food Price Index, which tracks the international prices of the most commonly traded food commodities, averaged 96.1 points in August, up 2.0 percent from the previous month and reaching its highest level since February 2020.
            </p>
            <a href="http://www.fao.org/news/story/en/item/1305855/icode/" class="btn btn-primary">Read more...</a>
        </div>
    </div>

</div>

<div id="page2" class="w-100 news-pages hidden-pages">
    <div class="card w-100 border-0 my-4">
        <div class="card-body pl-0">
            <small>IFPRI Blog: Research Post</small>
            <h5 class="card-title">High altitudes linked to higher rates of stunting</h5>
            <p class="text-muted">August 27, 2020 <br> BY KALEAB BAYE, KALLE HIRVONEN AND EMILY WU</p>
            <p class="card-text text-justify">Child stunting affects nearly 155 million globally, one fourth of all children under the age of five. Stunting is associated with increased risk of mortality, cognitive deficits, and metabolic developmental impairments that predispose children to chronic diseases in later life.

                While stunting has multiple and complex causes, research links it closely to the standard of living and access to basic necessities such as an adequate diet and healthcare. Our new study, published in JAMA Pediatrics, suggests a significant and under-appreciated additional factor: Altitude.
            </p>
            <a href="https://www.ifpri.org/blog/high-altitudes-linked-higher-rates-stunting" class="btn btn-primary">Read more...</a>
        </div>
    </div>
    <div class="card w-100 border-0 my-4">
        <div class="card-body pl-0">
            <small>FARA: News</small>
            <h5 class="card-title">FARA AND Partners Inaugurate Governance Framework For ARIFA</h5>
            <p class="text-muted">August 20, 2020 <br> BY Daniel Peprah</p>
            <p class="card-text text-justify">
                19/08/2020. ACCRA – Within the context of South-South and Triangular Cooperation, the Forum for Agricultural Research in Africa (FARA), the Tertiary Education Trust Fund of Nigeria (TETFUND) and the Universidade Federal de Viçosa (UFV)- Brazil; today inaugurated the Governance Framework for the Agricultural Research and Innovation Fellowship for Africa (ARIFA). The historic event which was organized via zoom webinar on Wednesday 19, August 2020, climaxed two years of preparatory work and series of engagements with various stakeholders.        </p>
            <a href="https://faraafrica.org/2020/08/20/fara-and-partners-inaugurate-governance-framework-for-arifa/" class="btn btn-primary">Read more...</a>
        </div>
    </div>
</div>

<div id="page3" class="w-100 news-pages hidden-pages">
    <div class="card w-100 border-0 my-4">
        <div class="card-body pl-0">
            <small>IFPRI Blog: Issue Post</small>
            <h5 class="card-title">Making food system value chains inclusive for smallholders and rural people</h5>
            <p class="text-muted">July 22, 2020 <br> BY ROB VOS AND KHIEM NGUYEN</p>
            <p class="card-text text-justify">
                Rapid urbanization and income growth are driving shifts in the diets of urban consumers in low-income countries in Africa and South Asia from inexpensive staple cereals to higher-value products such as fruits, vegetables, and animal-sourced foods. While the current disruption to incomes and supply chains from the COVID-19 pandemic may slow these developments and threaten food security in the near term, the longer-term demographic trends and related demand changes will provide important opportunities for agricultural development and reducing rural poverty.
            </p>
            <a href="https://www.ifpri.org/blog/making-food-system-value-chains-inclusive-smallholders-and-rural-people" class="btn btn-primary">Read more...</a>
        </div>
    </div>
    <div class="card w-100 border-0 my-4">
        <div class="card-body pl-0">
            <small>IFDC: News</small>
            <h5 class="card-title">Regional EnGRAIS Project Publishes Ghana Fertilizer Value Chain Optimization Study</h5>
            <p class="text-muted">February 26, 2020 <br> BY IFDC STAFF</p>
            <p class="card-text text-justify">
                January 15, 2020, Accra, Ghana – The Government of Ghana (GoG), represented by the Ministry of Food and Agriculture (MoFA), commissioned IFDC and specifically the Feed the Future Enhancing Growth through Regional Agriculture Input Systems (EnGRAIS) project to analyze the country’s fertilizer value chain under the GoG’s Ghana Fertilizer Expansion Programme (GFEP). The resulting Fertilizer Value Chain Optimization Study provides extensive data, including a thorough analysis of cost buildups, blending, and subsidies for fertilizer in Ghana, and offers guidance on how these and other aspects of the fertilizer value chain could be optimized.        </p>
            <a href="https://ifdc.org/2020/02/26/regional-engrais-project-publishes-ghana-fertilizer-value-chain-optimization-study/" class="btn btn-primary">Read more...</a>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
<!--        <li class="page-item disabled">-->
<!--            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>-->
<!--        </li>-->
        <li class="page-item" value="page1"><a class="page-link active-page" href="#page1">1</a></li>
        <li class="page-item" value="page2"><a class="page-link" href="#page2">2</a></li>
        <li class="page-item" value="page3"><a class="page-link" href="#page3">3</a></li>
<!--        <li class="page-item">-->
<!--            <a class="page-link" href="#">Next</a>-->
<!--        </li>-->
    </ul>
</nav>
