<section id="policy-admin-section" class="mt-3">
    <div class="container px-0">
        <div class="row mx-0">
            <div class="col-12 px-0">
                <div class="panel-group sidebar-checkbox-group" id="policy-admin-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="gov-agric-law-regulation">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#policy-admin-accordion" href="#gov-agric-law-regulation-collapse" aria-expanded="false" aria-controls="gov-agric-law-regulation-collapse">
                                    Gov't, Agric Laws & Regulations
                                </a>
                            </h4>
                        </div>
                        <div id="gov-agric-law-regulation-collapse" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="gov-agric-law-regulation">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-gavel"></i> Subsidy Schemes</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-gavel"></i> Animal Health & Welfare Regulations</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-gavel"></i> Import | Export Regulations</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-gavel"></i> Environmental Regulations</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-gavel"></i> Sanitary Regulations</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#policy-admin-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Government Finance Data
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Penalties Given to Agric Actors</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Agriculture Related Tax Income</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Agriculture Subsisdy Expenditure</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Research & Education Investment</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#policy-admin-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Official Records
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Permitted Pesticides</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Import | Export Tarrifs</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Safety Inspection Results</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Approved Permits</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Licensed Organizations</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Land Registration</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#policy-admin-accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Rural Dev. Project Data
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-city"></i> Project Documents</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-city"></i> Project Baseline & Survey Data</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-city"></i> Safety Inspection Results</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-city"></i> Project Output</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-city"></i> Outcome & Impact</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-city"></i> General Information</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="agrowarehouses" id="agrowarehouses" value="agrowarehouses">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>