<div class="modal fade" id="requestAccessModal" tabindex="-1" role="dialog" aria-labelledby="requestAccessModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestAccessModalLabel">Request Access to Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="requestAccessForm" action="" method="post"></form>
                    <div class="form-group">
                        <label for="requestSection">Section</label>
                        <select name="requestSection" id="requestSection" class="form-control request-select" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="requestCategory">Category</label>
                        <select name="requestCategory" id="requestCategory" class="form-control request-select" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="requestData">Data</label>
                        <select name="requestData" id="requestData" class="form-control" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="requestFormat" name="requestFormat" value="" required hidden>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input d-flex my-auto radio-input" id="csvInput" name="csvInput" value="CSV" checked>
                        <label for="csvInput" class="d-flex my-auto">CSV</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input d-flex my-auto radio-input" id="apiInput" name="apiInput" value="API">
                        <label for="apiInput" class="d-flex my-auto">API</label>
                    </div>

                    <div class="form-group mt-5">
                        <h6>Additional Information</h6>
                        <small id="" class="form-text text-muted">We'll never share your details with anyone else. <i class="fas fa-info-circle"></i></small>
                    </div>
                    <div class="form-group">
                        <label for="requestName">Name</label>
                        <input type="text" class="form-control" id="requestName" name="requestName" placeholder="Please type your name here" required>
                    </div>
                    <div class="form-group">
                        <label for="requestEmail">E-mail</label>
                        <input type="email" class="form-control" id="requestEmail" name="requestEmail" placeholder="eg. johndoe@yourcompany.com" required>
                    </div>
                    <div class="form-group my-4">
                        <button id="submitRequestAccessAPI" class="btn btn-block dark-green-btn"><i class="fas fa-paper-plane"></i> Submit Request for API</button>
                    </div>
                    <div class="form-group my-4">
                        <button id="submitRequestAccessCSV" class="btn btn-block dark-green-btn"><i class="fas fa-cloud-download-alt"></i> Download CSV</button>
                    </div>
                </form>
            </div>
            <div id="sendingRequestOverlay" class="row mx-0 justify-content-center feature-loading-overlay">
                <div class="my-auto">
                    <img src="/img/GAIMS-Leaf-64.gif" class="d-flex my-auto mx-auto page-loader-gif"><br>
                    <p class="text-center">Your request is on its way...</p>
                </div>
            </div>
        </div>
    </div>
</div>