<section id="socio-economic-section" class="mt-3">
    <div class="container px-0">
        <div class="row mx-0">
            <div class="col-12 px-0">
                <div class="panel-group sidebar-checkbox-group" id="socio-economic-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="land-use-productivity">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#socio-economic-accordion" href="#land-use-productivity-collapse" aria-expanded="false" aria-controls="land-use-productivity-collapse">
                                    Land Use & Productivity
                                </a>
                            </h4>
                        </div>
                        <div id="land-use-productivity-collapse" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="land-use-productivity">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bacon"></i> Biomas</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="biomas" id="biomas" value="biomas">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bacon"></i> Animal Health & Welfare</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="animalHealthAndWelfare" id="animalHealthAndWelfare" value="animalHealthAndWelfare">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bacon"></i> Crop Yield</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="cropYield" id="cropYield" value="cropYield">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bacon"></i> Cultivated Crops & Livestock</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="cultivatedCropsAndLivestock" id="cultivatedCropsAndLivestock" value="cultivatedCropsAndLivestock">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-bacon"></i> Land Use</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="landUse" id="landUse" value="landUse">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="valueChain">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#socio-economic-accordion" href="#valueChainCollapse" aria-expanded="false" aria-controls="valueChainCollapse">
                                    Value Chain
                                </a>
                            </h4>
                        </div>
                        <div id="valueChainCollapse" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="valueChain">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-link"></i> Product Data</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="productData" id="productData" value="productData">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-link"></i> Company Profiles</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="companyProfile" id="companyProfile" value="companyProfile">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-link"></i> Food Safety Inspection Results</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="foodSafetyInspectionResults" id="foodSafetyInspectionResults" value="foodSafetyInspectionResults">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="infrastructure">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#socio-economic-accordion" href="#infrastructureCollapse" aria-expanded="false" aria-controls="infrastructureCollapse">
                                    Official Records
                                </a>
                            </h4>
                        </div>
                        <div id="infrastructureCollapse" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="infrastructure">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-record-vinyl"></i> Internet Coverage</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="internetCoverage" id="internetCoverage" value="internetCoverage">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-record-vinyl"></i> Waterways</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="waterways" id="waterways" value="waterways">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-record-vinyl"></i> Road Management Schedules</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="roadManagementSchedules" id="roadManagementSchedules" value="roadManagementSchedules">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-record-vinyl"></i> Mobile Telephone Coverage</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="mobileTelephoneCoverage" id="mobileTelephoneCoverage" value="mobileTelephoneCoverage">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-record-vinyl"></i> Road Networks</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="roadNetworks" id="roadNetworks" value="roadNetworks">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="marketData">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#socio-economic-accordion" href="#marketDataCollapse" aria-expanded="false" aria-controls="marketDataCollapse">
                                    Market Data
                                </a>
                            </h4>
                        </div>
                        <div id="marketDataCollapse" class="panel-collapse collapse mb-2" role="tabpanel" aria-labelledby="marketData">
                            <div class="panel-body">
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Import | Export Volume</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="importExportVolume" id="importExportVolume" value="importExportVolume">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Market & Actions</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="marketAndActions" id="marketAndActions" value="marketAndActions">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Global Food Prices</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="globalFoodPrices" id="globalFoodPrices" value="globalFoodPrices">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Location of Markets</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="locationOfMarkets" id="locationOfMarkets" value="locationOfMarkets">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Standards</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="standards" id="standards" value="standards">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Grades</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="grades" id="grades" value="grades">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Labeling</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="labeling" id="labeling" value="labeling">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                                <label class="checkbox-label w-100 mx-0">
                                    <div class="row w-100 mx-0">
                                        <div class="col-10 ml-0 pl-0">
                                            <p class="align-self-left my-0"><i class="fas fa-database"></i> Market Management & Rules</p>
                                        </div>
                                        <div class="col-2 mr-0 pr-0">
                                            <input disabled class="checkbox pull-right" type="checkbox" name="marketManagementAndRules" id="marketManagementAndRules" value="marketManagementAndRules">
                                            <span class="checkbox-custom pull-right ml-3 mt-2 checkbox-disabled"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>