<!--                Digital Earth Ghana-->
<div class="row my-5 mx-2 shadow border rounded overflow-auto tweet-cards">
    <a class="twitter-timeline" data-height="300" href="https://twitter.com/DEarthAfrica?ref_src=twsrc%5Etfw">Tweets by DEarthAfrica</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!--                AgricGhana-->
<div class="row my-5 mx-2 shadow border rounded overflow-auto tweet-cards">
    <a class="twitter-timeline" data-height="300" href="https://twitter.com/agricinghana?ref_src=twsrc%5Etfw">Tweets by agricinghana</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!--                ECOWAS Agric-->
<div class="row my-5 mx-2 shadow border rounded overflow-auto tweet-cards">
    <a class="twitter-timeline" data-height="300" href="https://twitter.com/ecowas_agric?ref_src=twsrc%5Etfw">Tweets by ecowas_agric</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!--&lt;!&ndash;AGRA Alliance&ndash;&gt;-->
<!--<div class="row my-5 mx-2 shadow border rounded overflow-auto tweet-cards">-->
<!--    <a class="twitter-timeline" data-height="300" href="https://twitter.com/AGRAAlliance?ref_src=twsrc%5Etfw">Tweets by AGRAAlliance</a>-->
<!--    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<!--</div>-->

<!--&lt;!&ndash;AGRF&ndash;&gt;-->
<!--<div class="row my-5 mx-2 shadow border rounded overflow-auto tweet-cards">-->
<!--    <a class="twitter-timeline" data-height="300" href="https://twitter.com/TheAGRF?ref_src=twsrc%5Etfw">Tweets by TheAGRF</a>-->
<!--    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<!--</div>-->

<!--&lt;!&ndash;FARA&ndash;&gt;-->
<!--<div class="row my-5 mx-2 shadow border rounded overflow-auto tweet-cards">-->
<!--    <a class="twitter-timeline" data-height="300" href="https://twitter.com/FARAinfo?ref_src=twsrc%5Etfw">Tweets by FARAinfo</a>-->
<!--    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<!--</div>-->

<!--&lt;!&ndash;IFPRI&ndash;&gt;-->
<!--<div class="row my-5 mx-2 shadow border rounded overflow-auto tweet-cards">-->
<!--    <a class="twitter-timeline" data-height="300" href="https://twitter.com/IFPRI_WCAO?ref_src=twsrc%5Etfw">Tweets by IFPRI_WCAO</a>-->
<!--    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<!--</div>-->

<!--&lt;!&ndash;IFDC&ndash;&gt;-->
<!--<div class="row my-5 mx-2 shadow border rounded overflow-auto tweet-cards">-->
<!--    <a class="twitter-timeline" data-height="300" href="https://twitter.com/IFDCnews?ref_src=twsrc%5Etfw">Tweets by IFDCnews</a>-->
<!--    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<!--</div>-->

<!--&lt;!&ndash;IITA&ndash;&gt;-->
<!--<div class="row my-5 mx-2 shadow border rounded overflow-auto tweet-cards">-->
<!--    <a class="twitter-timeline" data-height="300" href="https://twitter.com/IITA_CGIAR?ref_src=twsrc%5Etfw">Tweets by IITA_CGIAR</a>-->
<!--    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<!--</div>-->