<div id="tweetCarouselWide" class="carousel slide carousel-multi-item row d-flex mx-0" data-ride="carousel">
    <a class="btn-floating col-1 align-self-center" href="#tweetCarouselWide" data-slide="prev"><i class="fas fa-chevron-left"></i></a>

    <div class="carousel-inner col-10 mx-0" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <div class="row mx-0">
<!--                CGIAR-->
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a class="twitter-timeline" data-height="300" href="https://twitter.com/CGIAR?ref_src=twsrc%5Etfw">Tweets by CGIAR</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
<!--                FAO-->
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a class="twitter-timeline" data-height="300" data-theme="light" href="https://twitter.com/FAO?ref_src=twsrc%5Etfw">Tweets by FAO</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <!--                AGRA Alliance-->
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a class="twitter-timeline" data-height="300" href="https://twitter.com/AGRAAlliance?ref_src=twsrc%5Etfw">Tweets by AGRAAlliance</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <!--                MOFA-->
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a class="twitter-timeline" data-height="300" data-theme="light" href="https://twitter.com/mofaghana?ref_src=twsrc%5Etfw">Tweets by mofaghana</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>

        <!--Second slide-->
        <div class="carousel-item">
            <div class="row mx-0">
                <!--                IFPRI-->
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a class="twitter-timeline" data-height="300" href="https://twitter.com/IFPRI_WCAO?ref_src=twsrc%5Etfw">Tweets by IFPRI_WCAO</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <!--                IFDC-->
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a class="twitter-timeline" data-height="300" href="https://twitter.com/IFDCnews?ref_src=twsrc%5Etfw">Tweets by IFDCnews</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <!--                AGRF-->
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a class="twitter-timeline" data-height="300" href="https://twitter.com/TheAGRF?ref_src=twsrc%5Etfw">Tweets by TheAGRF</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <!--                FARA-->
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a class="twitter-timeline" data-height="300" href="https://twitter.com/FARAinfo?ref_src=twsrc%5Etfw">Tweets by FARAinfo</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>

        <!--Third slide-->
        <div class="carousel-item">
            <div class="row mx-0">
                <!--                IITA-->
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a class="twitter-timeline" data-height="300" href="https://twitter.com/IITA_CGIAR?ref_src=twsrc%5Etfw">Tweets by IITA_CGIAR</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>

    <a class="btn-floating col-1 align-self-center" href="#tweetCarouselWide" data-slide="next"><i class="fas fa-chevron-right pull-right"></i></a>
</div>