<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="/img/favicon-5.png"/>

    <!--    Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--    Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>

    <!--    Custom styling-->
    <link rel="stylesheet" href="/css/general-styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/open-data.css">
    <link rel="stylesheet" href="/css/leaflet-sidebar.min.css">
    <link rel="stylesheet" href="/css/sidebarcheckboxlayers.css">
    <link rel="stylesheet" href="/css/checkbox.css">

    <!--    Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">

    <!--    Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <!--    Zoom Home-->
    <link rel="stylesheet" href="/css/leaflet.zoomhome.css"/>
    <script src="/js/leaflet.zoomhome.min.js"></script>

    <!--    Fullscreen-->
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
          rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

<!--    Leaflet Modal-->
    <script src="https://rawgit.com/mapshakers/leaflet-control-window/master/src/L.Control.Window.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/mapshakers/leaflet-control-window/master/src/L.Control.Window.css" />

<!--    Sweet Alert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>GAIMS | BigData Ghana Ltd.</title>
</head>
<body>

    <div id="pageContainer" class="page-container">
        {{> _navbar}}

        {{{body}}}

        {{> _footer}}
    </div>

    {{!-- <div id="pageLoadingOverlay" class="row mx-0 justify-content-center page-loading-overlay">
        <img src="/img/GAIMS-Leaf-64.gif" class="d-flex my-auto page-loader-gif"><br>
    </div> --}}

    <script type="application/javascript" src="/js/page-loader.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!--    Custom Js-->
    <script type="application/javascript" src="/js/navbaractive.js"></script>
    <script type="application/javascript" src="/js/navbarcolor.js"></script>
    <script type="application/javascript" src="/js/login-register-nav-footer.js"></script>
    <script type="application/javascript" src="/js/contact.js"></script>
    <script type="application/javascript" src="/js/pagination.js"></script>
    <script type="application/javascript" src="/js/basemaps.js"></script>

<!--    LEAFLET SCRIPTS-->
    <script type="application/javascript" src="/js/leaflet-sidebar.min.js"></script>

<!--    WFS Layers-->
    <script type="application/javascript" src="/js/leaflet.js"></script>
    <script src="https://makinacorpus.github.io/Leaflet.Spin/spin/dist/spin.min.js"></script>
    <script src="https://makinacorpus.github.io/Leaflet.Spin/leaflet.spin.min.js"></script>

    <script type="application/javascript" src="/js/wfsLayers/regionalBoundary.js"></script>
    <script type="application/javascript" src="/js/wfsLayers/districtBoundary.js"></script>
    <script type="application/javascript" src="/js/wfsLayers/constituencyBoundary.js"></script>
    <script type="application/javascript" src="/js/wfsLayers/farms.js"></script>
    <script type="application/javascript" src="/js/wfsLayers/agroWarehouses.js"></script>
    <script type="application/javascript" src="/js/basemap-toggle.js"></script>
    <script type="application/javascript" src="/js/bdg-wms-layers.js"></script>
    <script type="application/javascript" src="/js/digital-earth-wms-layers.js"></script>
    <script type="application/javascript" src="/js/initial-layers.js"></script>
    <script type="application/javascript" src="/js/checkbox-functions.js"></script>
    <script type="application/javascript" src="/js/request-form.js"></script>
    <script type="application/javascript" src="/js/sweetalert.js"></script>
</body>
</html>