<div class="page-content-wrapper">
    <div class="container">
        <div class="row mx-0 justify-content-center">
            <h3>Talk to us</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 my-4">
                <h6 class="mb-0">Contact</h6>
                <small>We would love to hear from you</small><br>
                <div class="btn-group mt-2 mb-4 w-100" role="group" aria-label="Basic example">
                    <button id="sendMesssageFormBtn" type="button" class="btn form-btn form-btn-active w-50" href="#sendMessageForm" role="button">Send us a message</button>
                    <button id="suggestDatasetFormBtn" type="button" class="btn form-btn w-50" href="#suggestDatasetForm" role="button">Suggest Dataset</button>
                </div>
                {{> _contact-form}}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 my-4">
                <h6 class="mb-0">Frequently Asked Questions <i class="fas fa-question-circle"></i></h6>
                <small>Questions usually asked about GAIMS</small><br>
                {{> _faqs-accordion}}
            </div>
        </div>
    </div>
</div>