<div class="page-content-wrapper">
    <div class="container">
        <div class="row mx-0 justify-content-center">
            <h1 class="center">Events</h1>
        </div>
        <div class="row mx-0">
            <p class="">
                Do you wish for your Agricultural Event to be advertised on this site?<br>
                Send us a calendar invite at <a href="">bigdataghanainfo@gmail.com</a>
            </p>
        </div>
        <div class="row mx-0 mt-4 mb-5">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Africa%2FAccra&amp;src=cGMzaHZvc2U2djk3M2thN2RkZmw2djcwNDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23039BE5&amp;title=Global%20Agricultural%20Events&amp;showNav=1&amp;showDate=1" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>