<div class="page-content-wrapper-home">

    <!--Home hero-->
    <header id="heroContainer" class="row h-100 mx-0">
        <div class="container my-auto">
            <h1 id="pageTitle" class="mt-5" style="font-size: 2.5em">Ghana Agriculture Information Management System</h1>
            <h4 class="my-4" style="font-size: 1.2em">An Online Open Data Platform for Agricultural Sector Data Sharing Initiative for Ghana</h4>
            <a href="/open-data" class="btn btn-lg dark-green-btn-2 mt-4">Open Data</a><br>
            <h6 style="font-weight: bold" class="mt-4">Powered by <a href="https://bigdataghana.com" style="color: #ffffff" target="_blank">BigData Ghana Ltd</a></h6>
        </div>
    </header>

    <!--GAIMS Description section-->
    <div id="gaimsDescriptionContainer" class="row w-100 my-0 mx-0 py-5">
        <div class="container my-auto py-4 d-flex align-self-center" id="gaimsDescription">
            <div class="row mx-0 justify-content-center">
                <img style="height: 100px" src="/img/GAIMS-Logo-Green-2.png" alt="GAIMS - Ghana Agriculture Information Management System | Powered by BigData Ghana Ltd">
                <p class="h5 font-weight-light text-justify">
                    GAIMS Platform was built following the Open Up Guideline for Agriculture developed by GODAN and Open Data Charter, with Data licensed under the Open Data Commons Open Database License (ODbL) .
                    The purpose is to truly open up agriculture data and statistics for improved analysis and decision making in support of the country’s effort to meet global goal SDG2 .
                </p>
            </div>
        </div>
    </div>

    <!--Open Data section-->
    <div id="openDataContainer" class="row w-100 my-0 mx-0">
        <div class="container">
            <div class="row">
                <div id="dataCatalogImage" class="col-sm-12 col-md-12 col-lg-6 d-flex p-5 align-items-center">
                    <img class="w-75 h-75 mx-auto" src="/img/DataCatalogCategories.png" alt="GAIMS Data Catalogue Categories">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 d-flex align-self-center">
                    <div class="py-5">
                        <h2 class="w-100">Data Catalog</h2>
                        <p class="w-100 text-justify h5 font-weight-light">
                            Our data catalog is published with comprehensive data regarding the agriculture sector.
                            Data in this catalog is tailored to provide detailed and comprehensive data to be used in any form of application.
                            You get a featured bonus with our GIS implementation.
                        </p>
                        <div class="mt-5">
<!--                            <a href="" class="btn transparent-green-btn disabled">Coming Soon!</a>-->
                            <a href="/open-data" class="btn dark-green-btn h5 font-weight-bold">See Open Data</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!--GAIMS Premium section-->
<!--    <div id="gaimsPremiumContainer" style="height: 300px;" class="row w-100 my-0 mx-0 py-4">-->
<!--        <div class="container my-auto py-4">-->
<!--            <div class="row">-->
<!--                <div class="col-sm-12 col-md-12 col-lg-6 d-flex align-self-center">-->
<!--                    <div>-->
<!--                        <h2>GAIMS Premium</h2>-->
<!--                        <p>-->
<!--                            Get extra!-->
<!--                            Add up to Data Catalog with our refined data. With the application of data science, GAIMS Premium gives you more insight to help you make a better informed decision.-->
<!--                            <br><br>-->
<!--                            Join the Premium family now!-->
<!--                        </p>-->
<!--                        <a href="" class="btn green-btn disabled">Coming Soon!</a>-->
<!--                        &lt;!&ndash;                <a href="/gaims-premium" class="btn green-btn">Access GAIMS Premium</a>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div id="gaimsPremiumImage" class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-self-center">-->
<!--                    <img class="w-50 h-100" src="/img/crown.png" alt="GAIMS Data Catalogue Categories">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <!--News and Events section-->
    <div class="row jumbotron my-0 mx-0 py-5 px-0">
        <div class="container-fluid justify-content-center">
            <h3 class="text-center mb-3">News and Events</h3>
            {{> _tweet-carousel }}
            {{> _tweet-carousel-narrow }}
        </div>
    </div>

    <!--Partners section-->
    <div id="partnersContainer" class="row w-100 my-0 mx-0 py-4">
        <div class="container my-auto py-4">
            <h1 class="text-center">Partners</h1>
            <div class="row my-4">
                <div class="col-sm-12 col-md-6 col-lg-3  d-flex justify-content-center">
                    <img class="partner-logo" src="/img/Digital-Earth-Logo.png" alt="Digital-Earth-partner-GAIMS">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <img class="partner-logo" src="/img/MOFA-Logo.png" alt="MOFA-partner-GAIMS">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <img class="partner-logo" src="/img/USAID-Logo.png" alt="USAID-partner-GAIMS">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                    <img class="partner-logo" src="/img/GODAN-Logo.png" alt="GODAN-partner-GAIMS">
                </div>
            </div>
        </div>
    </div>
</div>
