<div class="page-content-wrapper">
    <div id="newsContainer" class="container">
        <div class="row mx-0 justify-content-center">
            <h1>News Articles and Tweets</h1>
        </div>
        <div class="row mb-5">
            <div class="col-sm-12 col-md-6 col-lg-8 mt-4">
                {{> _newsarticles}}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
                {{> _tweetcards}}
            </div>
        </div>
    </div>
</div>