<div id="dataPageContainer" class="data-page-content-wrapper">
    <div class="row mx-0">
        <div id="mapContainer" class="w-100">
            {{> _map-sidebar }}
            <div class="page-legend">
                {{> _legend }}
            </div>
        </div>
    </div>
</div>
{{> _airtables }}
{{> _request-access-modal }}
{{> _metadata-modal }}