.form-btn {
    background-color: #ffffff;
    border: 2px solid #002424;
    color: #002424;
}

.form-btn:hover {

}

.form-btn-active {
    background-color: #002424 !important;
    border: 2px solid #002424 !important;
    color: #ffffff !important;
}