body {
    font-family: 'Montserrat', sans-serif !important;
}

.page-container {
    min-height: 100vh;
    position: relative;
}

.page-content-wrapper-home {
    padding-bottom: 302px;
}

.page-content-wrapper {
    padding-top: 90px;
    padding-bottom: 302px;
}


/*BUTTONS*/

.green-btn {
    background-color: #008080 !important;
    color: #ffffff !important;
    border-color: #008080 !important;
    border: 3px solid;
}

.green-btn:hover {
    background-color: transparent !important;
    color: #008080 !important;
    border-color: #008080;
    border: 3px solid;
}

.dark-green-btn {
    background-color: #002424 !important;
    color: #ffffff !important;
    border-color: #002424 !important;
    border: 3px solid;
}

.dark-green-btn:hover {
    background-color: transparent !important;
    color: #002424 !important;
    border-color: #002424;
    border: 3px solid;
}

.dark-green-btn-2 {
    background-color: #002424 !important;
    color: #ffffff !important;
    border-color: #002424 !important;
    border: 3px solid;
    font-weight: bold;
}

.dark-green-btn-2:hover {
    background-color: transparent !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
    border: 3px solid;
}

.transparent-btn {
    background-color: transparent !important;
    color: #ffffff !important;
    border: 3px solid;
    border-color: #ffffff;
}

.transparent-btn:hover {
    background-color: #ffffff !important;
    color: #002424 !important;
    border: 3px solid;
    border-color: #ffffff;
}

.transparent-green-btn {
    background-color: transparent !important;
    color: #002424 !important;
    border: 3px solid;
    border-color: #002424;
}

.transparent-green-btn:hover {
    background-color: #002424 !important;
    color: #ffffff !important;
    border: 3px solid;
    border-color: #002424;
}

.menu-badge {
    z-index: 1;
    position: absolute;
    margin-left: -18px;
    margin-top: -13px;
}


/*FOOTER*/

footer {
    background-color: #002424;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    bottom: 0;
}

#footerhr {
    border: 0.1px solid !important;
    border-color: #ffffff !important;
    min-width: 70%;
    max-width: 70%;
}


/*PAGE ELEMENTS*/

ul {
    list-style-type: none;
}

ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul li a {
    color: #ffffff;
}

ul li a:hover {
    color: #f6b33c;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover {
    color: #ffffff;
}

.active-nav {
    /*border-bottom: 1px solid #f6b33c;*/
    /*color: #f6b33c !important;*/
    border-bottom: 1px solid #002424;
    color: #002424;
}

.navbar-toggler {
    border: 2px solid #002424;
    color: #002424 !important;
}

.navbar-toggler-icon {
    color: #ffffff;
    height: unset;
    width: unset;
}

.navbar-nav a {
    color: #002424;
}

.navbar-box-shadow {
    box-shadow: 0px 0px 3px #3333334D;
}

.logo {
    height: 50px;
}

.navbar {
    background-color: #ffffff;
    z-index: 2200;
}

.page-loading-overlay {
    background-color: #ffffffF2 !important;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2250;
}

@media screen and (max-width: 991px) {
    #usefulLinks {
        display: none;
    }
    #gaimsLinks {
        display: none;
    }
    .navbar-expand-md {
        background-color: #ffffff;
    }
    .navbar-toggler {
        border: 2px solid #002424;
        color: #ffffff;
    }
    .navbar-toggler-icon {
        color: #002424;
    }
    .active-nav {
        border-bottom: 0 !important;
        color: #f6b33c !important;
    }
}