#heroContainer {
    min-height: 85vh;
    max-height: 85vh;
    max-width: 100vw;
    background-image: url("../img/GAIMS-Hero-5-BDG.jpg");
    background-color: #515151;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

#gaimsDescriptionContainer {
    color: #000000;
    background-color: #ffffff;
}

#openDataContainer {
    color: #000000;
    height: auto;
    background-size: cover;
}

#partnersContainer {
    color: #000000;
    background-color: #ffffff;
}

.partner-logo {
    width: 200px;
    height: 200px;
}

#tweetCarouselNarrow {
    display: none !important;
}

@media screen and (max-width: 991px){
    #tweetCarouselNarrow {
        display: inline-flex !important;
        width: 100% !important;
    }

    #tweetCarouselWide {
        display: none !important;
    }

    #dataCatalogImage {
        display: none !important;
    }

    #gaimsPremiumImage {
        display: none !important;
    }
}