#loginPageContainer {
    min-height: 100vh;
    /*max-height: 100vh;*/
    min-width: 100vw;
    /*max-width: 100vw;*/
    background-color: #002424 !important;
}

/*#loginFormContainer {*/
/*    background-color: #ffffff;*/
/*    border-radius: 10px;*/
/*}*/

.login-hr {
    width: 50%;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}