.tweet-cards {
    min-height: 300px;
    max-height: 300px;
}

.page-link {
    color: #000000;
}

.page-link:hover {
    color: #000000;
}

.active-page {
    background-color: #002424;
    color: white !important;
}
