.basemap-images {
    max-height: 100px;
    max-width: 200px;
    border: 3px solid #b7b8b7;
    border-radius: 7px;
}

.basemap-images:hover {
    cursor: grab;
}

.basemap-images-active {
    max-height: 100px;
    max-width: 200px;
    border: 3px solid #002424;
    border-radius: 7px;
}

.data-page-content-wrapper {
    padding-top: 70px;
    /*padding-bottom: 302px;*/
    font-family: 'Montserrat', sans-serif !important;
}

.airtable-toggle {
    color: #ffffff !important;
}

#dataPageContainer {
    min-height: 100vh;
    max-height: 100vh;
}

#mapContainer {
    /*height: 91.75vh;*/
    height: 93.45vh;
    /*padding-top: 88px;*/
    font-family: 'Montserrat', sans-serif !important;
}

.legend-color-markers {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.legend-boundary-markers {
    height: 4px;
    width: 20px;
    margin-top: 4%;
}

.legend-img-markers {
    height: 40px;
    width: 40px;
}

.page-legend {
    bottom: 25px;
    right: 15px;
    position: absolute;
    z-index: 1000;
}

.sidebar-legend {
    z-index: 1000;
}

.legend {
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 0.8rem;
    width: 15rem;
    box-shadow: 0px 0px 5px;
}

.hide-legend {
    display: none !important;
}

.sidebar-legend-toggle {
    visibility: hidden;
}

.feature-loading-overlay {
    background-color: #ffffffE6;
    height: 100%;
    width: 100%;
    position: absolute;
    /*top: ;*/
    left: 0px;
    z-index: 2199;
    border-radius: 10px;
}

.sidebar-badge {
    z-index: 1;
    position: absolute;
    background-color: limegreen;
    margin-left: -2px;
    margin-top: 6px;
}

.section-badge {
    background-color: limegreen;
    /* margin-left: -2px; */
    margin-top: -6px;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .checkbox-custom {
        margin-left: -10% !important;
    }
}

@media screen and (max-width: 991px) {
    .sidebar-legend-toggle {
        visibility: visible !important;
    }
    .page-legend {
        visibility: hidden;
    }
    #sidebar {
        z-index: 2000;
    }
    .checkbox-custom {
        margin-left: -20% !important;
    }
}