
.sidebar-checkbox-group .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    /* margin: 0 30px 10px 30px;*/
    overflow: hidden;
    position: relative;
}
.sidebar-checkbox-group .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
}
.sidebar-checkbox-group .panel-title a{
    display: block;
    padding: 15px 20px;
    margin: 0;
    background: #fe7725;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 0;
    position: relative;
}

.sidebar-checkbox-group .panel-title a:hover{
    text-decoration: none;
}
.sidebar-checkbox-group .panel-title a.collapsed{ background: #1c2336;}
.sidebar-checkbox-group .panel-title a:before,
.sidebar-checkbox-group .panel-title a.collapsed:before{
    content: "\f068";
    font-family: fontawesome;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 50%;
    background: #fe7725;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    border: 3px solid #fff;
    position: absolute;
    top: 10px;
    right: 14px;
}
.sidebar-checkbox-group .panel-title a.collapsed:before{
    content: "\f067";
    background: #ababab;
    border: 4px solid #626262;
}
.sidebar-checkbox-group .panel-title a:after,
.sidebar-checkbox-group .panel-title a.collapsed:after{
    content: "";
    width: 17px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 22px;
    right: 0;
}
.sidebar-checkbox-group .panel-title a.collapsed:after{
    width: 19px;
    background: #ababab;
}
.sidebar-checkbox-group .panel-body{
    border-left: 3px solid #fe7725;
    border-top: none;
    background: #fff;
    /*font-size: 15px;*/
    color: #1c2336;
    line-height: 27px;
    position: relative;
}
.sidebar-checkbox-group .panel-body:before{
    content: "";
    height: 3px;
    width: 50%;
    background: #fe7725;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sidebar-checkbox-group .panel-body p{
    padding: 10px;
}