<div id="loginPageContainer" class="row h-100 my-0 mx-0">
    <div id="loginFormContainer" class="container my-auto h-75 p-4">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5">
                    <div class="card-body">
                        <div class="row my-4 justify-content-center">
                            <i class="fas fa-crown display-1" style="color: #ffa500"></i>
                        </div>
                        <h5 class="card-title text-center">
                            Login
                        </h5>
                        <form class="">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div>
                            <button type="submit" class="btn dark-green-btn mx-auto btn-block">Log In</button>
                        </form>
                        <div class="row my-2">
                            <hr>
                            <p>Don't have account yet?</p>
                            <hr>
                        </div>
                        <div class="row justify-content-center font-weight-bold">
                            <a href="/users/register">CREATE AN ACCOUNT HERE</a>
                        </div>
                        <div class="row my-2 justify-content-center align-items-center">
                            <i class="fas fa-home h1"></i><br>
                        </div>
                        <div class="row my-2 justify-content-center">
                            <a href="/" class="text-center">
                                <i class="fas fa-arrow-left"></i> Back to Home
                            </a>
                        </div>
                        <div class="row mt-4 justify-content-center">
                            <div class="container">
                                <p class="text-center">By continuing, you're confirming that you have agreed to our <a href="/" class="text-center">Terms & Conditions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<h2 class="text-center">Login</h2>-->
<!--<form class="">-->
<!--    <div class="form-group">-->
<!--        <label for="exampleInputEmail1">Email address</label>-->
<!--        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="exampleInputPassword1">Password</label>-->
<!--        <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--    </div>-->
<!--    <div class="form-group form-check">-->
<!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--    </div>-->
<!--    <button type="submit" class="btn dark-green-btn mx-auto">Submit</button>-->
<!--</form>-->

<!--<div class="row">-->
<!--    <div class="col-sm-4 d-flex justify-content-end">-->
<!--        <hr class="login-hr">-->
<!--    </div>-->
<!--    <div class="col-sm-4">-->
<!--        <p class="text-center">Don't have an account?</p>-->
<!--    </div>-->
<!--    <div class="col-sm-4">-->
<!--        <div class="d-flex justify-content-start">-->
<!--            <hr class="login-hr">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<a href="/" class="text-right"><i class="fas fa-arrow-left"></i> Back to Home</a>-->